<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Movie List</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>

    <h1>Hello from movie.html!!</h1>


    {% if movie_list.count == 0 %}
    <h1>No Movie Available</h1>
    {% else %}
    <table>
      <tr>
        <td>Movie Name</td>
        <td>Date</td>
        <td>Description</td>
      </tr>
      {% for movie in movie_list %}
      <tr>
        <td>{{ movie.name }}</td>
        <td>{{ movie.dor }}</td>
        <td>{{ movie.description }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

  </body>
</html>
