{% extends 'app1/base.html' %}
{% block content %}

<div class="container">
  <div class="jumbotron">

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Roll No.</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
        </tr>
      </thead>
      <tbody>
        {% for student in class_student %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ student.student.name }}</td>
          <td>{{ student.student.roll_no }}</td>
          <td>{{ student.student.email }}</td>
          <td>{{ student.student.phone }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

  </div>
</div>

{% endblock %}
