{% extends 'app1/base.html' %}
{% block content %}

<div class="container">
  <div class="jumbotron">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Student</th>
          <th scope="col">Uploaded At</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for submission in submissions %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ submission.student.name }}</td>
          <td>{{ submission.created_at }}</td>
          <td><a href="{{ submission.submission.url }}" class="btn btn-primary" target="_blank">Download</a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
  </div>
</div>

{% endblock %}
